@import './src/styles.scss';

.login_page {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/img/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: auto;
  top: 0;
  left: 0;

  .container-fluid {
    height: 100vh;

    .login_form {
      position: absolute;
      top: 10vh;
      left: 50%;
      margin-left: -175px;
      text-align: center;
      margin-right: 15px;
      height: auto;
      width: 100%;
      max-width: 350px;
      padding: 0px 35px;
      justify-content: center;
      padding-top: 8vh;
      background: white;

      .logo {
        height: 116px;
        width: 130px;
        object-fit: cover;
        object-position: left;
      }

      form {
        margin: auto;
        width: 100%;
        max-width: 650px;
        border-radius: 20px;
        padding-top: 7vh;
      }

      .submit-btn {
        padding-top: 4vh;
        padding-bottom: 5vh;

        .enter-btn {
          width: 60%;
        }
      }

      .input_container {
        position: relative;

        input {
          width: 100%;
          height: 40px;
          background: transparent;
          padding: 0;
          border: none;
          border-radius: 0;
          border-bottom: 1px solid grey;
          color: black;
          padding-left: 25px;

          &:focus {
            background: transparent;
            padding: 0;
            border: none;
            border-radius: 0;
            border-bottom: 1px solid blue;
            outline: none;
            padding-left: 25px;
          }
        }
        input::placeholder {
          color: #787878;
          font-weight: 400;
        }

        button {
          width: 100%;
          height: 40px;
          font-size: 20px;
          font-weight: 500;
          color: #000000;
          &:hover {
            color: #FFFF;
          }

        }

        .new_user {
          padding-top: 12px;
          font-weight: 500;
          text-decoration: underline;
          cursor: pointer;
        }

        i {
          position: absolute;
          top: 12px;
          font-size: 20px;
          color: #959fab;
        }
      }

      label {
        font-size: 17px;
        margin-bottom: 20px;
        font-weight: 300;
      }
    }


    @media (max-width: 960px) {
      .login_form {
        padding-top: 20vh;
        height: 100%;
        top: 0;
      }
    }

    .login_img {
      position: absolute;
      top: 10vh;
      right: 0;
      height: 35vh;
      width: 100%;
      max-width: 265px;
      //background-image: url('../../assets/img/icons/menu/login_background.jpg');
      text-align: center;

    }
  }

  .title-container {
    position: relative;
    top: 8%;
  }
}







