<div class="login_page animated fadeIn fast">
  <div class="container-fluid">
    <div class="login_form">
      <div class="d-block">
        <div class="row">
          <div class="col-12 text-center">
            <div>
              <img class="logo" [src]="'./assets/img/logo.jpg'" [alt]="'Cat logo'"/>
            </div>
            <div class="title-container">
              <span> Prueba técnica</span>
            </div>
            <form  (ngSubmit)="login()" [formGroup]="loginForm">
              <div class="input_container">
                <i class="fa fa-user"></i>
                <input type="text" id="username" placeholder="Email" formControlName="username"/>
              </div>
              <div class="input_container">
                <i class="fa fa-lock"></i>
                <input type="password" id="password" placeholder="Contraseña" formControlName="password"/>
              </div>
              <div class="input_container">
                <div class="row remember-container" >
                  <div class="col-6 left" >
                    <span class="remember-title">Recordar</span>
                  </div>
                  <div class="col-6 right" >
                    <mat-slide-toggle color="accent" formControlName="remember"></mat-slide-toggle>
                  </div>
                </div>
              </div>
              <div class="input_container submit-btn">
                <button type="button" class="btn btn-outline-primary rounded-pill enter-btn" (click)="login()">Acceder
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
