<div class="login_page animated fadeIn fast">
  <div class="container-fluid">
    <div class="login_form">
      <div class="d-block">
        <div class="row">
          <div class="col-12 text-center">
            <div class="col-12 text-center">
              <img class="logo" [src]="'./assets/img/logo.jpg'" [alt]="'Cat logo'" />
            </div>

            <span style="font-size: 18px;font-weight: bold; padding-top:15px"> Prueba técnica</span>

            <form novalidate (ngSubmit)="login()" [formGroup]="loginForm">
              <div class="input_container">
                <input matInput type="text" id="username" placeholder="Email" formControlName="username" />
              </div>
              <div class="input_container">
                <input type="password" id="password" placeholder="Contraseña" formControlName="password" />
              </div>
              <div class="input_container" >
<!--                <button type="submit" class="pointer">{{ 'LOGIN.ACCESS' | translate }}</button>-->
                <div class="row">
                  <div class="col-6" style="text-align:left">
                    <span style="font-size: 16px;font-weight: bold;">Recordar</span>
                  </div>
                  <div class="col-6" style="text-align:right">
                    <mat-slide-toggle color="accent"></mat-slide-toggle>
                  </div>
                </div>

              </div>
              <div class="input_container submit-btn">
                <button type="button" class="btn btn-outline-primary rounded-pill enter-btn">Acceder</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
